.container {
    width: 600px;
    height: 550px;
    margin: auto;
    margin-top: 20px;
    border-radius: 3px;
    border: #DCD6CC 2px slategray;
    background-color: white;
    border-color:  rgb(35, 104, 233);
    border-width: 3px;
    border-radius: 20px;
    padding: 5px;
    background-color: rgb(153, 189, 198);
    font-size: 16px;
    text-align: center;

  }

  .photo {
    font-size: 10px;
    width: 65px;
    height: 25px;
  }
  
  
  button {
    color: white;
    background-color:rgb(4, 92, 113);
    border-radius: 20px;
    text-align: center;
    vertical-align: top;
  }


  .container1 {
    display: flex;
    flex-direction: row;
  }
  
  .left-div, .right-div {
    width: 50%;
    /* ostatak stilova za div-ove */
  }

  

  
  
  
  
  
  
  
  