<body class="background-image">
    <form class="container">
    
        <h2>Create Accommodation: </h2>

  <div class="container1">

  <div class="left-div">

      <mat-form-field class="example-full-width" style="color: white;">
        <input matInput placeholder="Name" [formControl]="requiredNameControl" [(ngModel)]="accommodation.name">
        <mat-error *ngIf="requiredNameControl.hasError('required')">
          Name <strong>required</strong>
        </mat-error>
      </mat-form-field><br>
    
      <mat-form-field class="example-full-width" style="color: white;">
        <input matInput placeholder="Location" [formControl]="requiredLocationControl" [(ngModel)]="accommodation.location">
        <mat-error *ngIf="requiredLocationControl.hasError('required')">
          Location <strong>required</strong>
        </mat-error>
      </mat-form-field><br>

    <mat-form-field class="example-full-width" style="color: white;">
        <mat-label>Facilities</mat-label>
        <mat-select name="facilities" class="comboSelect" [(ngModel)]="accommodation.facilities" multiple>
            <mat-option *ngFor="let facility of facilities" [value]="facility">{{facility}}</mat-option>
        </mat-select>
    </mat-form-field><br>

    <div class="example-full-width" style="color: white;">
      <div>

        <mat-label>Photos</mat-label>
        <div>
          <input type="file" name="photos" (change)="onFileSelected($event)" #fileInput style="display:none" accept="image/*" multiple>
          <button mat-button (click)="fileInput.click()" >Select Files</button>
        </div>
          
          
        </div>
        <br>
    </div>
      

      <mat-form-field class="example-full-width" style="color: white;">
        <mat-label>Min Capacity</mat-label>
        <input type="number" min="0" max="1000" name="minCapacity" matInput [(ngModel)]="accommodation.minCapacity">
      </mat-form-field><br>

      <mat-form-field class="example-full-width" style="color: white;">
        <mat-label>Max Capacity</mat-label>
        <input type="number" min="0" max="1000" name="maxCapacity" matInput [(ngModel)]="accommodation.maxCapacity">
      </mat-form-field><br>


  </div>


  <div class="right-div">

          <mat-form-field class="example-full-width" style="color: white;">
            <input matInput [matDatepicker]="picker"  [min]="tomorrowDate" placeholder="Start date" [formControl]="requiredStartDateControl" [(ngModel)]="accommodation.startDate">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-error *ngIf="requiredStartDateControl.hasError('required')">
              Start date <strong>required</strong>
            </mat-error>
          </mat-form-field>

          <br>
      <mat-form-field class="example-full-width" style="color: white;">
        <mat-label> Start time hours </mat-label>
        <mat-select [(ngModel)]="hour" [ngModelOptions]="{standalone: true}" >
          <mat-option *ngFor="let hour of hours" [value]="hour.value" >
            {{hour.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field><br>
    
      <mat-form-field class="example-full-width" style="color: white;">
        <mat-label> Start time minutes </mat-label>
        <mat-select [(ngModel)]="minute" [ngModelOptions]="{standalone: true}" >
          <mat-option *ngFor="let minute of minutes" [value]="minute.value" >
            {{minute.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field><br>

      <mat-form-field class="example-full-width" style="color: white;">
        <input matInput [matDatepicker]="picker"  [min]="tomorrowDate" placeholder="Start date" [formControl]="requiredStartDateControl" [(ngModel)]="accommodation.endDate">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error *ngIf="requiredStartDateControl.hasError('required')">
          End date <strong>required</strong>
        </mat-error>
      </mat-form-field>

          <br>
          <mat-form-field class="example-full-width" style="color: white;">
            <mat-label> End time hours </mat-label>
            <mat-select [(ngModel)]="hour1" [ngModelOptions]="{standalone: true}" >
              <mat-option *ngFor="let hour1 of hours" [value]="hour1.value" >
                {{hour1.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field><br>
        
          <mat-form-field class="example-full-width" style="color: white;">
            <mat-label> End time minutes </mat-label>
            <mat-select [(ngModel)]="minute1" [ngModelOptions]="{standalone: true}" >
              <mat-option *ngFor="let minute1 of minutes" [value]="minute1.value" >
                {{minute1.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field><br>
    
          <mat-form-field class="example-full-width" style="color: white;">
            <mat-label>Price</mat-label>
            <input type="number" min="0" max="100000" name="price" matInput [(ngModel)]="accommodation.price">
          </mat-form-field><br>

    </div>

    </div>

    <div>
   <button mat-stroked-button (click)="createAccommodation()">
          Submit
        </button>
    </div>
      
  
    </form>
    </body>
    