<body class="background-image">

    <form>
        <h1><b>Change Date accommodation:</b></h1>

        <mat-form-field class="example-full-width">

            <input matInput [matDatepicker]="pickerStart"  [min]="tomorrowDate" placeholder="Start date" [formControl]="requiredStartDateControl" [(ngModel)]="accommodation.startDate">
            <mat-datepicker-toggle matSuffix [for]="pickerStart"></mat-datepicker-toggle>
            <mat-datepicker #pickerStart></mat-datepicker>
            <mat-error *ngIf="requiredStartDateControl.hasError('required')">
              Start date is <strong>required</strong>
            </mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width">

            <input matInput [matDatepicker]="pickerEnd"  [min]="tomorrowDate" placeholder="End date" [formControl]="requiredEndDateControl" [(ngModel)]="accommodationCD.endDate">
            <mat-datepicker-toggle matSuffix [for]="pickerEnd"></mat-datepicker-toggle>
           
            <mat-datepicker #pickerEnd></mat-datepicker>
            <mat-error *ngIf="requiredEndDateControl.hasError('required')">
                End date is <strong>required</strong>
            </mat-error>
        </mat-form-field>
       
        <div mat-dialog-actions style="width: 50%; float:left">
            <button mat-button mat-dialog-close (click)="back()">Cancel</button>
        </div>
         
    
         <div mat-dialog-actions style="width: 50%; float:right" align="end">
            <button mat-button mat-dialog-close cdkFocusInitial (click)="changeAccommodation()">Submit</button>
        </div>

    </form> 
</body>


